$def with(agenda)
<h3>
    <a href="/agenda">agenda</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>agenda</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in agenda:
        <tr>
            <td><a href='/agenda/view/$item.id_persona'>$item.nombre</a></td>
            <td><a href='/agenda/edit/$item.id_persona'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/agenda/delete/$item.id_persona'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>